.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 2px;
  /*noinspection CssUnresolvedCustomProperty*/
  background: linear-gradient(
    to right,
    var(--mantine-color-secondaryGold-0),
    var(--mantine-color-secondaryGold-9),
    var(--mantine-color-secondaryGold-0)
  );
  border-radius: 10px;
}

/*noinspection CssUnresolvedCustomProperty*/
.icon {
  color: var(--mantine-color-secondaryGold-9);
}