.title {
  font-family: var(--mantine-font-family-headings), serif;
  color: var(--mantine-primary-color-9);
}

.paragraph {
  font-family: var(--mantine-font-family), serif;
  color: var(--mantine-primary-color-8);
  font-size: var(--mantine-font-size-lg);
  line-height: var(--mantine-line-height-md);
}

.card {
  border: var(--mantine-color-secondaryGold-5) 2px solid;
  border-radius: 20px;
}