.title {
  font-family: var(--mantine-font-family-headings), serif;
  color: var(--mantine-primary-color-9);
}

.paragraph {
  font-family: var(--mantine-font-family), serif;
  color: var(--mantine-primary-color-8);
  font-size: var(--mantine-font-size-lg);
  line-height: var(--mantine-line-height-md);
}

.card {
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(135deg, var(--mantine-color-secondaryGold-9), var(--mantine-color-secondaryGold-5)) border-box;
}