:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overscroll-behavior: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mantine-color-secondaryGold-0: #faf9f0;
  --mantine-color-secondaryGold-1: #f2f1e1;
  --mantine-color-secondaryGold-2: #e5e1bc;
  --mantine-color-secondaryGold-3: #d8d095;
  --mantine-color-secondaryGold-4: #ccc273;
  --mantine-color-secondaryGold-5: #c5b95e;
  --mantine-color-secondaryGold-6: #c1b552;
  --mantine-color-secondaryGold-7: #aa9f42;
  --mantine-color-secondaryGold-8: #978d39;
  --mantine-color-secondaryGold-9: #82792b;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
